@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;700:800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@400;500;600;700;800&family=Baloo+Thambi+2&display=swap");
body {
  /* font-family: 'Nunito', sans-serif !important; */
  font-family: "Baloo Thambi 2", cursive;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.title {
  border-radius: 20px;
  background-color: #71997f;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 0 10px;
}
.title h3 {
  text-align: center;
  font-weight: 800;
  max-width: 80%;
  color: #fefae3;
  margin: 5px;
  display: contents;
  overflow: hidden;
  white-space: nowrap;
}

.ant-card-body {
  padding: 12px !important;
  min-height: 18em;
}

.card-desc {
  margin: 5px;
}

.desc-text {
  margin-bottom: 0;
  font-weight: 400;
  color: rgb(128, 90, 45);
}
